P{
    color: red;
    background-color: blueviolet;

}
A{
    color: black;
    background-color: green;

}
#k{
    font-size: 10%;
}
#k1{
    width: 50%;
    margin-top: 15%;
    margin-bottom: 5%;

}
#k2{
    background-color: black;
}