 .rust{
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2;
    margin-bottom: 4;
    width:25%;
    height: 20%;

 }
 .rust2{
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 4;
    width:25%;
    height: 20%;

 }
 .rust3{
    margin-left: 5%;
    margin-right: 2;
    margin-top: 2;
    margin-bottom: 4;
    width:25%;
    height: 20%;
 }
 .rust4{
    width: 40%;
    height: 20%;
    margin-left: 5%;
    margin-right: 3%;

 }
 .rust5{
    margin-left: 23%;
    margin-right: 3%;
    margin-top: 2%;

    width:25%;
    height: 20%;
 }
 .rust6{
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;

    width:25%;
    height: 20%;
 }
 .rust7{
    width: 58%;
    height: 20%;
    margin-left: 5%;
    margin-right: 2;
 }
