.rust1{
    margin-right:10%;
    margin-left: 5%;
    width:90%;
    height: 20%;
}
    
.rust2{
    margin-right: 20%;
    margin-left: 20%;
    width:45%;
    height: 25%;
    margin-top: 10;
    margin-bottom: 10;
}
.rust3{
    margin-right:10%;
    margin-left: 3%;
    width:90%;
    height: 20%;
}